@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-code-text h1 {
  font-weight: bold;
  margin-top: 2em;
  margin-bottom: 2em;
}

.custom-code-text h2 {
  font-weight: bold;
  margin-top: 1em;
  margin-bottom: 1em;
  margin-left: 2em;
}

.custom-code-text p {
  margin-left: 2em;
  margin-bottom: 1em;
  line-height: 1.7em;
}

.custom-code-text sub {
  z-index: -1;
}
